<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ledger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>133050EF1EDAE29D0031044D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>133051081EDAE29D0031044D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>133051131EDAE29D0031044D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CCF7AD1F142E0000EAB928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
